/* Modify CSS for the whole webpage */

@import url('https://fonts.googleapis.com/css2?family=Oswald');

html {
  --navbar-font: "Oswald";
}

body {
  font-size: 1.3em
}

/*
@media screen and (max-width: 1200px) {
  body {
    font-size: 5vw;
  }
}
*/

/* nav bar */
.distill-site-header {
  --text-color:       grey;
  --text-size:        25px;
  --hover-color:      black;
  --bkgd-color:       white;
}

.distill-site-header .title {
  font-size: 25px;
}

.distill-site-header {
  text-transform: uppercase;
}

/* remove title - logo suffices*/
.distill-site-header .title {
  display: none;
}

/* slightly larger margin on the posts sidebar */
.posts-with-sidebar .posts-sidebar {
  width: 22%;
}
